<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MongoCnnStr" value="mongodb://localhost" />
    <add key="MongoDBName" value="TwitterFollower" />

    <add key="twitterConsumerKey" value="VMvH4q00BEStRrqrgufYrg" />
    <add key="twitterConsumerSecret" value="ONzbdTkVFFQcJM1dj3wsfG247ThiZuMh5lwZcQuaopc" />
    <add key="twitterTwitterAccessToken" value="2225608302-lrrzcnZKn4IttIg6W8bgW4Sb6il1WsL5h66YSaB" />
    <add key="twitterTwitterAccessTokenSecret" value="CoQlcC8LzKhfiHuEQGSATDwePoH05o5aWw9Zx77IQNnl0" />
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>