<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MongoCnnStr" value="mongodb://localhost" />
    <add key="MongoDBName" value="TwitterFollower" />

    <add key="twitterConsumerKey" value="sjSVkqGyZMdEPIzlxhZrJQ" />
    <add key="twitterConsumerSecret" value="lCkO192MvT6sN7FIF7KMK2VsmA8R5nkNlBbBVkBHkA" />
    <add key="twitterTwitterAccessToken" value="18249700-tL4zo81viY2fLVLn4WCApC4VrJuCUubxXtAW4fXGE" />
    <add key="twitterTwitterAccessTokenSecret" value="qEl7N8qaOB08qNB5CRylmmVLvhF3lQ0TE5HFdEvETGKPX" />
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>